.display-6
{
    color: white;
    font-size: 27px;
    text-shadow: 0 0 10px #15f4ee;
    font-family: 'Baloo Da 2', cursive;
}

.mail:hover
{
    color: #15f4ee;
    text-shadow: 0 0 10px #15f4ee, 0 0 20px #15f4ee;
}

.icons
{
    color: white; 
    text-decoration: none;
    font-size: 40px;
}

.icons:hover
{
    color: #15f4ee;
    text-decoration: none;
    font-size: 55px;
    transition: all ease 0.7s;
}

@media screen and (max-width: 729px) 
{
    div.spc
    {
        margin-top: -100px;
    }
}
