.main-timeline
{
font-family: "Quicksand", sans-serif;
position: relative;
}
.main-timeline:after
{
content: "";
display: block;
clear: both;
}
.main-timeline .timeline
{
width: 50%;
margin: 0 0 20px 20px;
float: right;
}
.main-timeline .timeline-content{
color: #003348;
text-align: center;
min-height: 130px;
padding: 30px 90px;
border-radius: 100px;
border: 2px solid #003348;
display: block;
position: relative;
box-shadow: 0 2px 20px 0 inset, 0 2px 20px 0 #15f4ee;
}

.main-timeline .timeline-content:hover
{
    box-shadow: 0 5px 50px 0 inset, 0 5px 50px 0 #15f4ee;
}

.main-timeline .timeline-content:hover{ text-decoration: none; }
.main-timeline .timeline-content:before{
content: "";
border: 6px solid #16C8BC;
border-radius: 100px;
box-shadow: 0 0 12px rgba(0,51,72,0.3) inset;
position: absolute;
left: 6px;
top: 6px;
bottom: 6px;
right: 6px;
box-shadow: 0 2px 20px 0 inset, 0 2px 20px 0 #15f4ee;
}
.main-timeline .timeline-icon{
color: #fff;
background-color: #003348;
font-size: 35px;
line-height: 70px;
height: 70px;
width: 70px;
border-radius: 50% 50% 50% 0;
position: absolute;
left: -2px;
bottom: -2px;
}
.main-timeline .title{
font-size: 23px;
font-weight: 700;
color: white;
text-shadow: 0 0 10px #15f4ee;
}
.main-timeline .description{
font-size: 20px;
font-weight: 600;
color: white;
text-shadow: 0 0 10px #15f4ee;
margin: 0;
}
.main-timeline .timeline:nth-child(even){
float: left;
margin: 0 20px 20px 0;
}
.main-timeline .timeline:nth-child(even) .timeline-icon{
border-radius: 50% 50% 0;
left: auto;
right: 0;
}
.main-timeline .timeline:nth-child(4n+2) .timeline-content:before{ border-color: #15f4ee; box-shadow: 0 2px 20px 0 inset, 0 2px 20px 0 #15f4ee;}
.main-timeline .timeline:nth-child(4n+3) .timeline-content:before{ border-color: #15f4ee; box-shadow: 0 2px 20px 0 inset, 0 2px 20px 0 #15f4ee;}
.main-timeline .timeline:nth-child(4n+4) .timeline-content:before{ border-color: #15f4ee; box-shadow: 0 2px 20px 0 inset, 0 2px 20px 0 #15f4ee;}
.main-timeline .timeline:nth-child(4n+2) .timeline-content:before:hover
{
    box-shadow: 0 5px 50px 0 inset, 0 5px 50px 0 #15f4ee;
}
.main-timeline .timeline:nth-child(4n+3) .timeline-content:before:hover
{
    box-shadow: 0 5px 50px 0 inset, 0 5px 50px 0 #15f4ee;
}
.main-timeline .timeline:nth-child(4n+4) .timeline-content:before:hover
{
    box-shadow: 0 5px 50px 0 inset, 0 5px 50px 0 #15f4ee;
}
@media screen and (max-width:767px){
.main-timeline .timeline{
width: 100%;
margin: 0 0 20px;
}
.main-timeline .timeline .timeline-content{ padding: 30px 63px; }
.main-timeline .timeline-icon,
.main-timeline .timeline:nth-child(even) .timeline-icon{
font-size: 30px;
line-height: 55px;
height: 55px;
width: 55px;
border-radius: 50% 50% 50% 0;
right: auto;
left: 0;
}
}
@media screen and (max-width:576px){
.main-timeline .title{ font-size: 18px; }
}
